.features {
    padding: 60px 0;
  }
  
  .features h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
  }
  
  .featureList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .feature {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 30px;
    padding: 20px;
    background-color: #dcd9d9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .feature p {
    font-size: 16px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .feature {
      flex-basis: 100%;
    }
  }
  
  